# Datasets Task

In this compulsory task you will use pandas to select data from a dataset and explain the data retrieved for a given line of code.

In [ ]:
import pandas as pd

You will use the same `balance.txt` dataset used in the example Jupyter notebook. Remember to ensure it is in the same folder as this notebook.

In [ ]:
df = pd.read_csv('balance.txt',sep=' ')

1. Write the code that performs the action described in the following statements.

In [2]:
# Select the 'Limit' and 'Rating' columns of the first five observations
import pandas as pd

# Reading the data from 'balance.txt' with space separator
df = pd.read_csv('balance.txt', sep=' ')

# Selecting the 'Limit' and 'Rating' columns of the first five observations
selected_columns = df[['Limit', 'Rating']].head(5)
print(selected_columns)

   Limit  Rating
0   3606     283
1   6645     483
2   7075     514
3   9504     681
4   4897     357

In [1]:
# Select the first five observations with 4 cards
import pandas as pd

# Reading the data from 'balance.txt' with space separator
df = pd.read_csv('balance.txt', sep=' ')

# Selecting the first five observations with 4 cards
selected_rows = df[df['Cards'] == 4].head(5)
print(selected_rows)

      Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
2   22.530409  104.593   7075     514      4   71         11    Male      No
5   22.486178   80.180   8047     569      4   77         10    Male      No
10  13.994990   63.095   8117     589      4   30         14    Male      No
20   9.853100   17.700   2860     235      4   63         16  Female      No
29  14.007770   26.813   5611     411      4   55         16  Female      No

   Married  Ethnicity
2       No      Asian
5       No  Caucasian
10     Yes  Caucasian
20      No      Asian
29      No  Caucasian

In [2]:
# Sort the observations by 'Education'. Show users with a high education value first.
import pandas as pd

# Reading the data from 'balance.txt' with space separator
df = pd.read_csv('balance.txt', sep=' ')

# Sorting the observations by 'Education' column in descending order
sorted_df = df.sort_values(by='Education', ascending=False)

# Displaying the sorted DataFrame
print(sorted_df)

       Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
60   13.297283   35.510   5198     364      2   35         20  Female      No
51   13.010768   39.705   3969     301      2   27         20    Male      No
378  10.140785   19.349   4941     366      1   33         19    Male      No
247  13.774598   36.364   2220     188      3   50         19    Male      No
238  11.079748   26.532   2910     236      6   58         19  Female      No
..         ...      ...    ...     ...    ...  ...        ...     ...     ...
284   8.298482   14.711   2047     167      2   67          6    Male      No
368  19.555838   89.000   5759     440      3   37          6  Female      No
224  25.262836  121.709   7818     584      4   50          6    Male      No
254  13.997826   36.508   6386     469      4   79          6  Female      No
30   10.201523   34.142   5666     413      4   47          5  Female      No

    Married         Ethnicity
60       No             Asian
51      Yes  African American
378     Yes         Caucasian
247      No         Caucasian
238     Yes         Caucasian
..      ...               ...
284     Yes         Caucasian
368      No         Caucasian
224     Yes         Caucasian
254     Yes         Caucasian
30      Yes         Caucasian

[400 rows x 11 columns]

2. Write a short explanation in the form of a comment for the following lines of code. For example:  
```
# Selects the first 5 rows, and all of the columns for those rows.
df.iloc[:5,:]
```

In [ ]:
#  This code selects all rows and all columns in the DataFrame 'df' using integer-based indexing with iloc.
df.iloc[:,:]

In [ ]:
#  This code selects rows starting from the sixth row (index 5) and all columns starting from the sixth column (index 5) onwards in the DataFrame 'df' using integer-based indexing with iloc.
df.iloc[5:,5:]

In [ ]:
# This code selects all rows and only the first column (index 0) in the DataFrame 'df' using integer-based indexing with iloc.

df.iloc[:,0]

In [ ]:
# This code selects the tenth row (index 9) and all columns in the DataFrame 'df' using integer-based indexing with iloc.
df.iloc[9,:]